@import url("https://fonts.googleapis.com/css2?family=Ewert&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  text-decoration: underline;
  color: rgb(0, 247, 255);
}
.margin-add {
  margin: 10rem 0;
}
ul {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
}

/* marquee tag */

marquee p {
  color: white;
  margin: 1rem;
  font-size: 2rem;
  font-family: ewert;
  background: transparent;
}

/* css variables */

:root {
  --font1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bgclr: black;
  --fontclr: white;
}
.section-heading {
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
  font-family: var(--font1);
  font-weight: 800;
}

nav {
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: black;
}

.nav-logo {
  height: 4rem;
  width: 4rem;
  margin-left: 2rem;
}
.nav-logo img {
  height: 100%;
}
.nav-bars {
  position: fixed;
  right: 0%;
  margin: 0 2rem;
  cursor: pointer;
}
.bar {
  background: white;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  margin: 0.3rem 0;
}
.navigation {
  left: 100%;
  top: 50%;
  transform: translate(0%, -50%);
  box-shadow: -2px 1px 10px black;
  position: fixed;
  background: #2e2e2e;
  width: 20rem;
  z-index: 5;
  opacity: 0.95;
  transition: all 1s ease;
}
.navigation:hover {
  opacity: 1;
}
.navigation li a {
  font-weight: 800;
  padding: 1rem;
  display: block;
  color: white;
  text-transform: uppercase;
  font-family: var(--font1);
  transition: all 0.5s ease;
}
.navigation li a:hover {
  letter-spacing: 4px;
  color: rgb(0, 247, 255);
  text-decoration: none;
}
@media screen and (max-width: 990px) {
  .bar {
    background: rgb(196, 196, 196);
  }
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/pexels-tyler-lastovich-997443.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
}
.banner h1 {
  font-size: 4rem;
  width: 40vw;
  text-align: Center;
  font-family: var(--font1);
  text-transform: capitalize;
  color: white;
}
@media screen and (max-width: 990px) {
  .banner h1 {
    font-size: 2rem;
  }
}

.intro {
  background: var(--fontclr);
  width: 80vw;
  margin: 0 auto 5rem auto;
  padding: 4rem;
  box-shadow: 2px 2px 40px black;
}
.intro-content-body {
  font-family: var(--font1);
  padding: 1rem 2rem;
}
.intro_gallery {
  padding: 2rem;
  display: grid;
  justify-content: space-around;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 10rem);
}
.intro_img {
  height: 10rem;
}
.intro_img img {
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 990px) {
  .intro {
    width: 100%;
    padding: 2rem;
    font-size: 0.9rem;
  }
  .intro-gallery {
    padding: 0;
  }
}

/* team members for particular department 

 .team-members {
  margin: 10rem 0;
  display: flex;
  box-shadow: 0px 2px 40px black;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 28rem);
}
.team-member {
  background: white;
  max-width: 28rem;
  min-width: 28rem;
  height: 200px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 4fr 6fr;
}
.team-member-img {
  height: 200px;
  background: var(--fontclr);
}
.team-member-img img {
  filter: grayscale(100%);
  height: 100%;
  object-position: top;
  object-fit: cover;
  transition: all 1s ease;
}
.team-member:hover .team-member-img img {
  filter: grayscale(0);
  background: linear-gradient(
    45deg,
    rgb(0, 247, 255),
    rgb(253, 0, 118),
    rgb(250, 162, 0)
  );
}
.team-member-content {
  color: var(--bgclr);
  display: grid;
  font-family: var(--font1);
  font-weight: 500;
  height: 100%;
  font-size: 0.9rem;
  position: relative;
}
.team-member-content-withouthover {
  position: absolute;
  padding: 1rem;
  align-self: center;
}
.team-member-content-withhover {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  position: absolute;
  left: 100%;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-member-content-withhover p {
  padding: 0 1rem;
  text-align: Center;
  margin-bottom: 0.2rem;
}
.team-member-content-withhover ul {
  display: flex;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.team-member-content-withhover ul li a {
  color: white;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem;
}
.team-member:hover .team-member-content-withhover {
  left: 0;
}
@media screen and (max-width: 990px) {
  .team-members {
    display: none;
    grid-template-columns: 1fr;
    margin: 0;
  }
  .team-member-content {
    font-size: 0.8rem;
  }
  .team-member-content-withhover ul li a {
    font-size: 1.5rem;
  }
  .team-member-content-withhover ul {
    margin-top: 1rem;
  }
} */

/* section */

.section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/pexels-tyler-lastovich-997443.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 10rem 0 0 0;
}
@media screen and (max-width: 990px) {
  .section {
    padding: 0;
  }
}

/* without brcket text meaning it has no background in html file */

.withoutbacktext {
  margin: 10rem 0;
}
.withoutbacktext p {
  text-align: Center;
  font-weight: 600;
  font-size: x-large;
  margin: 0 auto;
  width: 60vw;
  font-family: var(--font1);
  color: white;
}
.withoutbacktext i {
  font-family: var(--font1);
  font-size: 1rem;
  display: block;
  text-align: Center;
  color: rgb(0, 247, 255);
}
@media screen and (max-width: 990px) {
  .withoutbacktext {
    margin: 5rem 0;
  }
  .withoutbacktext p,
  .withoutbacktext i {
    font-size: 0.8rem;
  }
}

/* section divider white line  */

.section-divider {
  height: 10px;
  background: white;
}
@media screen and (max-width: 990px) {
  .section-divider {
    display: none;
  }
}

/* subcontent block; */

.subcontent {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  box-shadow: 2px 2px 40px black;
  align-items: flex-start;
  justify-content: space-between;
  background: white;
  width: 80vw;
  height: 70vh;
  margin: 10rem auto;
}
.subcontent-content {
  padding: 3rem 2rem;
}
.subcontent-content h2 {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  box-shadow: 2px 0px 10px rgb(160, 160, 160);
  font-family: var(--font1);
  color: var(--fontclr);
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background: var(--bgclr);
  display: inline-block;
  position: relative;
  left: -10%;
}
.subcontent-content p {
  font-family: var(--font1);
  color: var(--bgclr);
  margin-top: 1rem;
}
.subcontent-img {
  height: 100%;
  overflow: hidden;
}
.subcontent-img img {
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 990px) {
  .subcontent {
    border-radius: 0.5rem;
    grid-template-columns: 1fr;
    margin: 4rem auto;
    box-shadow: none;
    height: auto;
  }
  .subcontent-content h2 {
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1rem;
    border-radius: 0;
  }
  .subcontent-content p {
    font-size: 0.8rem;
    text-align: center;
  }
  .subcontent-img {
    overflow: hidden;
    height: 20rem;
    /* height: 45vh; */
  }
}

.dir-rev {
  grid-template-columns: 0.4fr 0.6fr;
}
.dir-rev > .subcontent-content {
  order: 3;
}
.dir-rev > .subcontent-img {
  order: 2;
}
.dir-rev .subcontent-content {
  text-align: left;
}
.dir-rev .subcontent-content h2 {
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  left: 73%;
}
@media screen and (max-width: 990px) {
  .dir-rev {
    grid-template-columns: 1fr;
    margin: 1rem auto;
  }

  .dir-rev .subcontent-content h2 {
    border-radius: 0;
    left: 50%;
  }
  .dir-rev > .subcontent-img {
    order: 3;
  }
  .dir-rev > .subcontent-content {
    order: 2;
  }
}

footer {
  background: black;
}
.flex-footer ul {
  width: 20rem;
}
footer ul li a {
  display: inline-block;
  color: white;
  font-family: var(--font1);
  margin: 0.5rem;
}
footer ul li a i {
  padding: 0 0.5rem;
  width: 40px;
}
.callsection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.callsectionbelonging {
  margin-bottom: 2rem;
}
.footer-logo-images {
  display: flex;
  justify-content: center;
}
.headofclub p,
.callsectionbelonging p {
  font-weight: 800;
  font-family: var(--font1);
}
.headofclub i,
.callsectionbelonging i {
  font-family: var(--font1);
}
.footer-logo {
  width: 40px;
  margin: 0 1rem;
}
.footer-logo img {
  height: 80%;
  object-fit: cover;
}
.flex-footer {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.footer-copyright {
  width: 70vw;
  margin: 0 auto;
  color: grey;
  text-align: center;
  font-size: 0.8rem;
  font-family: var(--font1);
  padding: 0rem 0 3rem 0;
}
@media screen and (max-width: 990px) {
  .flex-footer ul {
    display: none;
  }
  .flex-footer {
    height: auto;
  }
  .callsection {
    font-size: 0.9rem;
    text-align: center;
  }
  .footer-copyright {
    font-size: 0.7rem;
    padding: 1rem;
  }
}
